@import "colors";

footer {
  min-height: 300px;
  background-color: $dark;
  padding: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #fff;
  align-items: center;

  h2 {
    color: $red;
    font: 400 2rem fantasy;
  }

  p {
    margin-top: 1rem;
  }

  strong {
    margin: 1rem;
  }

  aside {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 1.4rem;
    }

    a {
      margin: 0.5rem;
      font-size: 2rem;
      color: #fff;

      &:hover {
        color: $red;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
  }
  aside {
    margin-top: 2rem;
  }
}
